<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
  
</div>
<div class="demo">
  <button (click)="onEditCourse()">Edit Course</button>
</div>
  
<div>
  <!-- *ngIf="courses$ | async as courses" -->
  <div class="courses">
    <service-course-card *ngFor="let course of (courses | filterByCategory: 'BEGINNER')"
                (courseChanged)="save($event)"
                [course]="course">

      <service-course-image [src]="course.iconUrl"></service-course-image>

    </service-course-card>

  </div>


</div>