<!-- <app-appointment-list></app-appointment-list> -->
<!-- <app-book-management-system></app-book-management-system> -->
<!-- <app-hotel-reservation-app></app-hotel-reservation-app> -->
<!-- <painting-app></painting-app> -->
<!-- <app-book-management></app-book-management> -->
<!-- <app-social-platform></app-social-platform> -->
<!-- <app-social-app></app-social-app> -->
<!-- <app-component-core-directives-pipes></app-component-core-directives-pipes> -->
<!-- <directives-in-depth></directives-in-depth> -->
<!-- <view-encapsulation></view-encapsulation> -->
<service-in-depth></service-in-depth>